// Generic
$primary-color: #249cec;
$alt-color: #71bff4;
$dark-color: #195076;
$light-color: #d1ebfb;
$light-grey: #b7bdc1;
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: #249cec;

// Post
// $post-text-color: #666;
// $post-hover-color: #f7f7f7;

