@use 'src/styles/vars';

.link {
  text-decoration: none;
  color: vars.$light-color;

  &:hover {
    text-decoration: underline;
  }
}

// Styles pour le lien actif
.active {
  color: vars.$primary-color;
  font-weight: bold;
}
