@use 'src/styles/vars';

.link {
  text-decoration: none;
  color: vars.$light-color;
  font-size: 1.2em;
  padding-top: vars.$gutter * 0.5;
  
}

// Styles pour le lien actif
.active {
  color: vars.$primary-color;
  font-weight: bold;
}
